/* Nav bar was eating the top at the beginning befor scrolling,
so I added a space before that */
body::before {
  display: block;
  content: '';
  height: 50px;
}

/* Fixed carousel images size */
.carousel-inner img {
  width: auto;
  height: 250px;
  max-height: 250px;
}

/* Turn secret heart button red on hover */
.bi-heart-fill:hover{
  color: red !important;
}

#forum-area{
  overflow-x: auto;
  height: 400px;
}